.modal-overlay{

    position:fixed;

    inset:0;

    background:rgba(0,0,0,.65);

    display:flex;

    justify-content:center;

    align-items:center;

    z-index:9999;

}

.incident-modal{

    width:900px;

    max-width:95%;

    background:#1E293B;

    border-radius:16px;

    padding:30px;

    border:1px solid #334155;

    animation:popup .25s ease;

}

@keyframes popup{

    from{

        transform:scale(.9);

        opacity:0;

    }

    to{

        transform:scale(1);

        opacity:1;

    }

}

.modal-header{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:25px;

}

.modal-header h2{

    color:white;

}

.close-btn{

    background:#EF4444;

    border:none;

    color:white;

    width:36px;

    height:36px;

    border-radius:8px;

    cursor:pointer;

    font-size:18px;

}

.modal-grid{

    display:grid;

    grid-template-columns:repeat(2,1fr);

    gap:18px;

    margin-bottom:25px;

}

.info-card{

    background:#0F172A;

    border-radius:12px;

    padding:18px;

}

.info-card h4{

    color:#94A3B8;

    margin-bottom:8px;

}

.info-card p{

    color:white;

    font-size:18px;

}

.details-section{

    background:#0F172A;

    border-radius:12px;

    padding:20px;

}

.details-section h3{

    color:white;

    margin-bottom:15px;

}

.details-section ul{

    color:white;

    line-height:2;

}